@charset 'utf-8';

/* 초기화 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

/* 공통영역 */

.clearfix::after {
    content:'';
    display: block;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#wrap {
    width: 100%;
}

/* header */

.logo img {
    position: absolute;
    width: 4%;
    top: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    z-index: 97;
    background: #fff;
    opacity: 70%;
}

nav > ul {
    display: flex;
    justify-content: center;
}

.pcmenu {
    flex: 0 0 25%;
    text-align: center;
    position: relative;
    display: flex;
}

.pcmenu > a {
    display: block;
    font-size: 1.5rem;
    line-height: 70px;
    color: black;
    transition: 0.3s;
    font-weight: bold;
}

.pcmenu:hover > a {
    color: #999;
}

/* visual */

.visual {
    width: 100%;
    position: relative;
}

.container h2 {
    margin-left: 7%;
    margin-bottom: 2%;
    font-size: 2rem;
}

.main-banner {
    position: relative;
    padding-top: 60%;
    overflow: hidden;
}

.main-banner img {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.about-me p {
    position: absolute;
    display: inline;
    margin-left: 5%;
    line-height: 60px;
    font-size: 1.5rem;
}

.portfolio-menu {
    flex: 0 0 25%;
    text-align: center;
    position: absolute;
}

